<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
   <link rel="stylesheet" href="/tailwind.css">
   <link rel="icon" href="/schoollogo.png">
</head>
<body class="">
    <form  method="post" action='/'  class="w-full  flex justify-center  height">
        <div  class=" from-blue-500 to-purple-500 bg-gradient-to-l p-5 text-white mx-auto my-auto text-white rounded shadow-3xl">
            <p class="text-center text-4xl font-bold   flex justify-center max-h-36 border-black overflow-hidden  "><img src="/profile.png" class="border-black   p-0" height="200px" width="200px" alt=""></p>
            <br>
          
            <div class="flex">

                <label for="name " class="text-2xl">Username: </label>
                <input type="text" name="username" required  class="border-b-2 border-white bg-transparent focus:outline-none text-center   text-2xl  text-black ">
            </div>
            <br> 
            <div classname="flex ">

                <label for="" class="text-2xl">Password:   </label>
                <input type="password" name="passcode"  required class="border-b-2 sm:w-32 border-white  bg-transparent focus:outline-none   text-center   text-2xl  text-black">
                  
            </div>
            <br><br>
            

                <button type="submit" class="bg-red-500 px-2 py-3 w-full Xg:w-64  rounded hover:bg-green-500 duration-700 text-2xl font-bold" >
                     Sumbit</button>
                     <br> 
                <div class="text-center "><br>
                    <% if (define.usercoded=="true") { %>
                        <p class=" bg-white text-red-600 font-bold p-2">please enter a vaild username </p>
                    <% } %>
                    <% if (define.passcoded=="true") { %>
                        <p class=" text-red-600 font-bold bg-white p-2"> please enter a vaild password for your username</p>
                    <% } %>
                    </div>
        </div>
     
    </form>
</body>
<style>
 
    body{
        background-image: url(/study2.jpg);
        background-color: rgba(0, 0, 0, 0.288);
       
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .height{
        height: 100vh;
    }
    .bg{
        background-color: rgba(0, 0, 0, 0.397);
       
    }
</style>
</html>